* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: black
}

header {
    background-image: url("./Assets/g1.png");
    background-size: cover;
    text-align: center;
    padding: 20px 0;
    color: #fff;
}

header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.section {
    text-align: center;
    padding: 40px 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.subscription-form {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    min-width: 300px;
}

.subscription-form h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.subscription-form p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

form {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
}

.form-group {
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

form input[type="text"],
form input[type="email"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.checkbox-container {
    display: flex;
    align-items: center;
}

.checkbox-container input[type="checkbox"] {
    margin-right: 10px;
}

form button {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #0056b3;
}

.image-container {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    max-width: 97%;
    height: auto;
    border-radius: 8px;
}
